<div>
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in categories %}
                                    <tr>
                                        <td>{{item.name}}</td>
                                        <td>{{item.active}}</td>
                                        <td>{{item.created_at}}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm" unicorn:click.prevent="view({{item.pk}})">View</button>
                                            {% if item.active is True %}
                                                <button class="btn btn-danger btn-sm" unicorn:click.prevent="delete({{item.pk}})" >Delete</button>
                                            {% else %}
                                                <button class="btn btn-warning btn-sm" unicorn:click.prevent="delete({{item.pk}})" >Undo</button>
                                            {% endif %}
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <form>
                        <label for="cat">Add Gener</label>
                        <input type="text" class="form-control" placeholder="Enter Gener" unicorn:model.defer="title"/>
                        
                        <span class="text-danger">{{message}}</span>
                        <br />
                        <button class="btn btn-secondary" style="min-width: 100%;" unicorn:click.prevent="add"> Save </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
